@charset "UTF-8";

*{
	margin: 0px;
   	padding: 0px;
   	font-family: 'Noto Sans','Noto Sans Korean','Apple SD Gothic Neo', 'Malgun Gothic','Nanum Gothic', 'Noto Sans','sans-serif';
	}

/* header css */
header{
	box-shadow: 0 0 10px rgba(0,0,0,0.1);
	height: 160px;
	}

.logo{
	display: inline-block;
	position: relative;
	top: 10px;
	border: none; 
	margin-right: 150px;
}
	

.common{
	width: 110px;
	height: 100px;
	background: #efeeee;
	padding-top: 10px;
	display: inline-block;
	margin-right: 150px;
	position: relative;
	top: 20px;
	border-radius: 35%; 
	border: #fff; 
	box-shadow: -10px -10px 20px rgba(250,251,255,0.7), 6px 6px 16px rgba(209,205,199,1.7); 
	border: none; 
	outline: none; 
	cursor: pointer; 
	overflow: hidden;
}
		
.abm{
	margin-right: 0px;}

.common img{
	display: block; 
	margin: 10px auto; 
	transition: all 0.5s;
	}
	
.common .hov_txt{
	display: none; 
	font-size: 25px; 
	transition: all 0.5s; 
	width: 100%; 
	height: 100%; 
	background: rgba(134,134,134,0.5); 
	position: absolute; 
	left: 0; 
	top: 0; 
	transition: all 0.5s; 
	justify-content: center; 
	align-items: center; 
	backdrop-filter: blur(2px);
	}

.common .hov_txt p{
	color: #fff;
	}
	
.common:hover .hov_txt{
	display: flex;
}

.brand_btn_box{
	border: none;
	display: flex;
 	justify-content: space-around;
	position: relative;
	top: 40px;
	width: 80%;
	margin-left: 200px;
}

#b1{
	border: none;
	background-color: #fff;
	
}

#b2{
	border: none;
	background-color: #fff;
}

#b3{
	border: none;
	background-color: #fff;
}

#b4{
	border: none;
	background-color: #fff;
}

#b5{
	border: none;
	background-color: #fff;
}

#title{
	margin-top: 50px;
}

/* 게시판 css */
.board_mainbox {
	width: 90%;
	height: auto;
	background-color: #fff;
	margin: 3% 5% 0% 5%;
	border-radius: 6px;
	display: flex;
	flex-direction: column;
}

.send_btn {
	border: none;
	font-size: 15px;
	width: 100px;
	height: 40px;
	margin-left: 1500px;

	transition: 0.5s;
	
}

.send_btn:hover {
	cursor: pointer;
	background-color: black;
	color: #fff;
}

.board_box {
	width: 100%;

	margin: 5px 5% 5% 5%;
	
	
	display: flex;
	flex-wrap: wrap;
	/* justify-content: center; */
	overflow: auto;
}

.board_box::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}
.board_box{
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.board {
	background-color: #fff;
	border-radius: 6px;
	width: 350px;
	height: auto;
	margin: 1% 1% 1% 1%;
	display: inline-block;
	/* display: flex; */
	flex-direction: column;
	border: none;
}
.board:hover {
	opacity: 0.8;
	cursor: pointer;
}

.img {
	border-radius: 6px;
	width: auto;
	height: auto;
	margin: 0px 10px 0px 14px;
}
.img img {
	display: block;
	width: 100%;
	height: 100%;
	border-radius: 6px;
	object-fit: fill;
} 



.like_wrap{
	display: flex;
	justify-content: space-between;
	position: relative;
}

#nickname{
	margin-left: 20px;
	margin-top: 15px;
	
}

.like_main_box {
	display: float;
	
}
.fa-heart {
	width: 20px;
	height: 20px;
	color: red;
	margin-top: 15px;
	/* margin-right: 10px; */
}

.like_b_box {
	border-style: none;
	width: 20px;
	height: 20px;
	font-size: large;
	margin-right: 10px;
	margin-bottom: 10px;
}
.like_b_box:focus {
	outline: none;
}

